#title{
	text-align: center;
	width: 20%;
	margin-right: auto;
  	margin-left: auto;
}

#container_body{
	width: 1000px;
	height: 500px;
}

.box{
	border: 1px solid black;
	margin: 10px;
	margin-right: auto;
	background-color: gray;
}

.title{
	float: right;
	height: 20px;
	width: 59px;
	text-align: center;
	border: 1px solid black;
}

#chi{
	background-color: yellow;
}

#bee{
	background-color: red;
}

#sus{
	background-color: blue;
}

.text{
	float: left;
	width: 90%;
	text-align: left;
	height: 85%;
	padding-top: 2%;
}

@media (min-width: 992px){
	.box{
		float: left;
		width: 30%;
  		height: 30%;

	}
}

@media (min-width:768px) and (max-width: 991px){
	.box{
		float: left;
	}

	#cont_chik, #cont_beef{
		width: 40%;
		height: 30%;
	}

	#cont_sushi{
		width: 90%;
		height: 30%;
	}
}

@media (max-width:767px){
	.box{
		float: left;
		width: 50%;
		height: 30%;
	}

}

