body {
  background-color: #0099ff;
  font-family: "Roman";
  color: #990000;
}

/*Begginig of main boddy*/

#main_box{
	padding-top: 100px;
}
.home_pic{
	position: relative;
	overflow: hidden;
	margin: 0 auto 15px;
	padding: 5px;
	border: solid 2px black;
}

.home_pic span{
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	text-align: center;
	font-size: 1.2em;
	text-transform: uppercase;
}

.new_img{
	display: block;
    margin: auto;
    width: 60%;
}

#pars{
	background-color: yellow;
}

#others{
	background-color: pink;
	height: 50%;
}

